<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flexedev.twobirds_onescone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".TwoBirdsLiveRoomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_2birds1scone_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_2birds1scone_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwoBirdsOneScone">
        <activity
            android:name=".fragments.settings.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.flexedev.twobirds_onescone.com.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAP_API}" />

        <activity
            android:name="com.flexedev.twobirds_onescone.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.flexedev.twobirds_onescone.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <receiver android:name=".helper.MyNotificationPublisher" />
    </application>

</manifest>